dialog {
  margin: auto;
}

.status {
  display: block;
  width: 25px;
  height: 25px;
  border: 3.5px solid rgb(200, 199, 206);
  border-radius: 50%;
}
.status1 {
  border-top: 3.5px solid rgb(44, 56, 160);
  border-right: 3.5px solid rgb(44, 56, 160);
  transform: rotate(45deg);
}
.status2 {
  border: 3.5px solid rgb(44, 56, 160);
}
.box__button {
  background-color: black !important;
}
input {
  outline: none;
}
